
.navbar__hidden{
  transform:translateY(-100%) !important;
  transition: 0.3s;

}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 20px 0px;
  position: fixed;
  top: 0;
  left: 0;
  background: #ffffffbf;
  z-index: 100;
  transition: 0.3s;
  
  .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .logo {
      width: 100px;
      margin-right: 50px;
      img {
        width: 100px;
        object-fit: cover;
      }
    }
    .links {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      transition: 0.3s;
      a {
        display: block;
        margin-left: 40px;
        text-decoration: none;
        color: #000;
        font-size: 20px;
        font-weight: 600;
        position: relative;
        overflow: hidden;
        padding: 10px 0px;
      }
      a.activelink::after {
        content: "";
        height: 5px;
        width: 28px;
        background-color: #000;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    .mobile_toggle {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      span {
        height: 2px;
        width: 30px;
        background-color: #000;
        margin: 3px;
        transition: 0.3s;
      }
      &.active {
        span {
          &:nth-child(1) {
            transform: rotate(45deg) translatex(12px);
          }
          &:nth-child(2) {
            transform: scale(0);
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
            transform: rotate(-45deg) translatex(12px);
          }
        }
      }
    }
  }
  .right {
    &.active {
      display: none;
    }
  }
}
.cta {
  button {
    background-image: url(./../../../Assets/images/nav_button.svg);
    height: 70px;
    width: 271px;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    background-position: center;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    font-size: 20px;
    padding-bottom: 3px;
  }
}
.mobile_cta {
  display: none;
  button {
    height: 50px;
    width: 160px;
    font-size: 12px;
    padding-bottom: 5px;
    margin-top: 20px;
  }
}

// Responsive

@media screen and (max-width: 991px) {
  .navigation {
    padding: 10px 25px;
    .right {
      display: none !important;
    }
    .left {
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .links {
        a {
          font-size: 15px;
          font-weight: 100;
          margin-left: 0;
        }
      }
      .logo {
        img {
          width: 70px;
          object-fit: cover;
        }
      }
    }
    .links {
      position: absolute;
      height: 100vh;
      width: 100%;
      top: 0;
      background: #fff;
      left: 0;
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      flex-direction: column;
      transform: translatey(-100vh) scale3d(0, 0, 0);
      transition: 0.5s;
      a {
        &.activelink {
          &::after {
            content: "";
            height: 3px !important;
            bottom: 7px !important;
          }
        }
      }
      .mobile_cta {
        display: block;
      }
    }
    .mobile_link {
      transform: translatey(0vh) scale3d(1.5, 1.5, 1.5);
    }
    .mobile_toggle {
      display: flex !important;
    }
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    padding: 10px 25px;
    .right {
      display: none !important;
    }
    .left {
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .links {
        a {
          margin-left: 0;
        }
      }
      .logo {
        img {
          width: 70px;
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
  .navigation {
    .left {
  .links {
    a {
      margin-left: 20px;
      font-size: 16px;
    }
  }
  }
  }
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .navigation {
    .left {
      .links {
        a {
          margin-left: 20px;
        }
      }
    }
  }
}
