footer {
  overflow: hidden;
  padding-top: 100px;
  .footer_wrapper {
    background-color: #adadadbf;
    padding: 30px 150px;
    .footer_link {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
    a{
        text-decoration: none;
        font-size: 22px;
        color: #230835;
        padding-bottom: 5px;
    }
    }
    .social_media {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      height: 100%;
      a {

        img {
          height: 40px;
          width: 40px;
          margin: 0 10px;
        }
      }
    }
    .logo{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100%;
    }
}
.copy_right{
    background-color: #adadadbf;
    padding: 25px 0;
    text-align: center;
    border-top: 1px solid #000;
    p{
        margin: 0;
        font-size: 19px;
        font-weight: 500;
        color: #230835;
    }
}
}


  // Responsive

  @media screen and (max-width: 540px){
    footer{
      padding: 0px;
      .footer_wrapper{
        padding: 30px 30px;
      }
      .footer_link{
        padding-bottom: 30px;
        a{
          display: block;
          width: 100%;
          text-align: center;
        }
      }
      .logo{
        padding-top: 30px;
        justify-content: center !important; 
        align-items: center  !important;
        width: 100%;
      }
      .copy_right{
        p{
          padding: 0 10px;
          font-size: 14px;
        }
      }
    }
  }
  @media screen and (min-width: 541px) and (max-width: 768px) {
    footer{
      .footer_wrapper{
        background-color: #adadad;
        padding: 30px 50px
      }
    }
  }
  @media screen and (min-width: 769px) and (max-width: 992px) {
    footer{
      padding-top: 80px;
      .footer_wrapper{
        padding: 30px 50px
      }
    }
  }
  @media screen and (min-width: 1025px) and (max-width: 1280px) {}
  @media screen and (min-width: 1281px) and (max-width: 1480px) {}